body{
    font-family: 'Syne', sans-serif;
    overflow: hidden;
    color: white;
    background-color: black;
    background-image: url(img/thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg);
    background-size: 1920px 920px;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    /* border: 20px solid grey; */
}

a{
    text-decoration: none;
    color: white;
}

.header{
    background-color: black;
    width: 100%;
    height: 50px;
}

.container{
    /* position: relative; */
    width: 1920px;
    height: 820px;
    /* background: rgb(15,15,15);
    background: linear-gradient(100deg, rgba(15,15,15,1) 19%, rgba(89,89,92,1) 87%);  */
    background-image: url(img/wave-haikei.svg);
    background-size: 2100px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.menu{
    margin-top: 100px;
}

a:hover{
    color: rgb(65, 65, 65);
}
.social a:hover{
    transition: .3s;
    background-color: white;
    border-radius: 10px;
    padding: 6px 6px 3px 6px;
}

.intro{
    position: absolute;
    width: 745px;
    height: fit-content;
    /* background-color: brown; */
    padding: 5px;
    top: 245px;
    left: 40px;
}

.name{
    font-size:99px;
}

.story{
    position: absolute;
    width: 700px;
    line-height: 20px;
    font-size: 16px;
    text-align: justify;
    line-height: 23px;
    padding: 5px;
}

.profileimage{
    position: absolute;
    /* height: 690px;
    width: 400px; */
    height: 500px;
    width: 340px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: -20px 20px #656565;
    filter: grayscale(150%);
    box-sizing: border-box;
}

.profileimage.death{
    background-image: url(img/mathew-macquarrie-u6OnpbMuZAs-unsplash.jpg);
    top: 300px;
    left: 1000px;
    /* top: 70px;
    left: 1370px; */
}

.profileimage.life{
    background-image: url(img/conner-baker-sIjMLE3TX0A-unsplash.jpg);
    top: 80px;
    left: 1450px;
    /* top: 190px;
    left: 1100px; */
}
 
.profileimage p{
    opacity: 0;
    font-size: 11px;
    margin-top: 475px;
    margin-left: 15px;
    transition: .3s;
}

.profileimage:hover p{
    opacity: 1;
}

.social{
    padding-top: 8px;
    padding: 5px;
    position: absolute;
    top: 475px;
    left: 45px;
}

.about{
    border-radius: 10px;
    width: fit-content;
    display: inline-block;
    font-size: 50px;
    margin-top: 50px;
    position: absolute;
    top: 500px;
    left: 40px;
    padding-left: 5px;
    /* padding: 2px 2px 2px 0; */
}

.about p{
    display: inline-block;
    
}

/* .about:hover a{
    background-color: white;
    border-radius: 10px;
    color: rgb(65, 65, 65);
} */

.about:hover #main{
    transform: translate(145px, 0px) rotate(90deg);
    transition: .3s;
}

.about:hover .skills{
    transform: translate(-45px, 0px);
    transition: .3s;
}

.about:hover .skillsicon{
    background-color: white;
    border-radius: 10px;
    color: rgb(65, 65, 65);
}

.dropskills{
    display: none;
    width: 300px;
    /* margin-top: 5px; */
    /* margin-bottom: 10px; */
    font-size: 25px;
    background-color: white;
    color: rgb(65, 65, 65);
    /* position: relative; */
    /* background-color: aqua; */
}

.dropskills div{
    padding: 4px;
    border-top: 7px solid #0c0c09;
}

.about:hover .dropskills{
    position: fixed;
    z-index: 9999;
    display: block;
}

.progskills:hover svg{
    transform: translate(275px, 0px);
    transition: .3s;
}

.progskills:hover p{
    transform: translate(-25px, 0px);
    transition: .3s;
}

.progskills .language table{
    /* display: none; */
    position: absolute;
    background-color: white;
    top: 0px;
    left: 300px;
    opacity: 0;
}

.progskills .language td{
    border: 7px solid #0c0c09;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
}

.progskills:hover .language table{
    /* display: block; */
    opacity: 1;
    transition: .3s;
}

.progtools:hover svg{
    transform: translate(275px, 0px);
    transition: .3s;
}

.progtools:hover p{
    transform: translate(-25px, 0px);
    transition: .3s;
}

.progtools .tools table{
    /* display: none; */
    width: fit-content;
    position: absolute;
    background-color: white;
    top: 40px;
    left: 300px;
    opacity: 0;
}

.progtools .tools td{
    border: 7px solid #0c0c09;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
}

.progtools:hover .tools table{
    /* display: block; */
    opacity: 1;
    transition: .3s;
}

.designtools:hover svg{
    transform: translate(275px, 0px);
    transition: .3s;
}

.designtools:hover p{
    transform: translate(-25px, 0px);
    transition: .3s;
}

.designtools .tools table{
    /* display: none; */
    width: 310px;
    position: absolute;
    background-color: white;
    top: 80px;
    left: 300px;
    opacity: 0;
}

.designtools .tools td{
    border: 7px solid #0c0c09;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
}

.designtools:hover .tools table{
    /* display: block; */
    opacity: 1;
    transition: .3s;
}


.project{
    border-radius: 10px;
    width: fit-content;
    display: inline-block;
    font-size: 50px;
    margin-top: 110px;
    position: absolute;
    top: 505px;
    /* top: 530px; */
    left: 40px;
    padding-left: 5px;
    /* padding: 2px 2px 2px 0; */
}

.project .projecticon{
    display: inline-block;
}

.project .projectclick{
    display: none;
}

.project:hover a{
    /* color: rgb(65, 65, 65); */
    background-color: white;
    border-radius: 10px;
    transition: .5s;
}

.project:hover svg{
    transform: translate(323px, 0px);
    transition: .3s;
}

.project:hover .projectclick{
    display: inline-block;
    transform: translate(-45px, 0px);
}

.project:hover .projecticon{
    display: none;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: .3s;
    /* menyembunyikan elemen ketika baru load */
    width: 0;
    height: 0;
    overflow: hidden;
}

.overlay:target{
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
}

.projectcontainer{
    /* position: fixed; */
    border-radius: 10px;
    margin: 100px 310px;
    background-color: #0c0c09;
    opacity: 0.9;
    width: 1300px;
    height: 720px;
}

.projectnav{
    font-size: 70px;
    text-align: center;
    line-height: 720px;
}
.footer{
    background-color: black;
    width: 100%;
    height: 50px;
}